
@{
    ViewBag.Title = "Enter Page";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h5>Enter Page</h5>
</div>

<div class="card-block">
    <a href="https://localhost:44360/LandingPage" target="_blank">國際縱火調查人員協會臺灣分會</a>
</div>

