
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/Contact_Layout.cshtml";
}

<h2 class="page-title">聯絡我們</h2>
<hr class="botmargin-min">

<div class="text-center">
    <h2>信件發送成功</h2>
    <h3>我們會盡速與您聯繫</h3>
</div>