@model IAAITW.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/News_Layout.cshtml";
}

<h2 class="page-title">訊息發佈</h2>
<hr class="botmargin-min">

<div class="post-content">
    <div class="post-body">
        <div class="entry-header">
            <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @Model.ReleaseDate.ToString("yyyy-MM-dd")</span>
            <h2 class="entry-title">
                @Model.Title
            </h2>
        </div><!-- header end -->

        <div class="post-media post-image">
            <img src="~/upload/news_cover/@Model.CoverImg" class="img-responsive" alt="">
        </div>

        <div class="entry-content topmargin-min">
            @Html.Raw(Model.Content)
        </div>

        <div class="tags-area clearfix">
            <div class="post-footer  pull-left">
                <a onclick="history.back()" onKeyPress="history.back()" class="btn btn-primary">返回列表</a>
            </div>
        </div>

    </div>
</div>