@model IAAITW.Models.About

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}

<h2 class="page-title">關於我們</h2>
<hr class="botmargin-min">
<span style="font-size:16px;">@Html.Raw(Model.AboutUs)</span>




