@model IAAITW.Models.About

@{
    ViewBag.Title = "Organization";
    Layout = "~/Views/Shared/About_Layout.cshtml";
}

<h2 class="page-title">組織架構</h2>
<hr class="botmargin-min">
<span style="font-size:16px;">@Html.Raw(Model.Organization)</span>

