@model IAAITW.Models.Service

@{
    ViewBag.Title = "Refer";
    Layout = "~/Views/Shared/Service_Layout.cshtml";
}

<h2 class="page-title">協會業務</h2>
<hr class="botmargin-min">
<span style="font-size:16px;">@Html.Raw(Model.Refer)</span>

